<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap"
    rel="stylesheet" />
</head>

<body>
  <img class="profil" src="/img/IMG_3982.jpg" alt="">
  <nav class="navbar">
    <div class="nav">
      <ul>
        <li><a href="#aboutme">About Me</a></li>
        <li><a href="#projets">Projets</a></li>
        <li><a href="#contact">Contact</a></li>
        <!-- LinkedIn and GitHub icons -->
        <li>
          <a href="https://www.linkedin.com/in/adem-ben-abdesselem-7bb163250/" target="_blank" rel="noopener noreferrer">
              <img class="linkedin" src="/img/logo-linkedin-noir.png" alt="LinkedIn Logo" />
          </a>
      </li>
      <li>
          <a href="https://github.com" target="_blank" rel="noopener noreferrer">
              <img  class="github" src="/img/github_logo_icon_229278.png" alt="GitHub Logo" />
          </a>
      </li>
      
      </ul>
    </div>


    </div>
  </nav>

  <nav class="main">
    <div class="header">
      <h1 class="title">Hi, I'm Adem Ben.</h1>
      <h2 class="subtitle">Développeur Fullstack et Mobile.</h2>
      <p class="text">
        Hello, je suis Adem Ben Abdesselem, etudiant en BTS SIO option SLAM à
        la grande école d'informatique IPPSI. <br />
        Voici mon portfolio !
      </p>
      

      <br />
      <br />
      <br />
      <br />

     
    </div>
    <div class="school-header">
      <h1 class="title2">Mon Parcours Scolaire</h1>

      <!-- Flex container for p1 and p2 -->
      <div class="school-info">
        <p class="p1">2023 - Présent</p>
        <p class="p2">IPSSI Grande Ecole d'Informatique</p>
      </div>

      <!-- p3 outside the flex container to be displayed below -->
      <p class="p3">Actuellement en deuxième année de BTS SIO option SLAM</p>
    </div>

    <div class="school-header">

      <!-- Flex container for p1 and p2 -->
      <div class="school-info">
        <p class="p1">2020 - 2023</p>
        <p class="p2">Lycée Violet le Duc</p>
      </div>

      <!-- p3 outside the flex container to be displayed below -->
      <p class="p3">Baccalauréat Général option Mathématique, Science économique et Social, et Géopolitique </p>

    </div>





    <div class="projects-container">
      <h1>Mes projets</h1>
      <div class="img-container">
        <img class="img1" src="/img/IMG_3947.webp" alt="">
        <p class="pop">Stage Projets</p>
        <p class="p4">Développement du site web de l'entreprise IDS INFORMATIQUE, permettant au clients de prendre
          connaissance des actions de l'entreprise <br>et de faciliter la prise de rendez vous.</p>
      </div>
    
      <div class="img-container">
        <img class="img1" src="/img/projet.PNG" alt="">
        <p class="pop">School Projet</p>
        <p class="p4">Application permettant de retranscrire les données météorologique de notre positions.</p>
      </div>
    
      <div class="img-container">
        <img class="img1" src="/img/space.png" alt="">
        <p class="pop">School Projet AP1</p>
        <p class="p4">Application permettant la réservation de voyage, de chambre hotel.</p>
      </div>

      <div class="img-container">
        <img class="img1" src="/img/geo gssr.PNG" alt="">
        <p class="pop">Projet GLPI</p>
        <p class="p4">Création d'un plugin pour GLPI permettant de faciliter la gestion des tickets.</p>
      </div>

      <div class="img-container">
        <a href="https://testipformation-my.sharepoint.com/:w:/g/personal/k_mokhtari_ecole-ipssi_net/Ec1etnr8HkNPv1nadM5phfgBM3QJALdYl_MjJ9QXDauOXw?rtime=3IdA5A0e3Ug" target="_blank">
          <img class="img1" src="/img/Glpi_screenshot.png" alt="GLPI Plugin">
        </a>
        <p class="pop">Projet GLPI</p>
        <p class="p4">Création d'un plugin pour GLPI permettant de faciliter la gestion des tickets.</p>
      </div>
      
    

      <br />
      <br />
      <br />
      <br />

      <hr class="hr1" />
      </div>
    </nav>

    <nav class="experience-focus-container">
      <nav class="focus">
        <div class="compt">

          <h1 class="title5">Mes compétences techniques.</h1>
          <p class="p6">Avec le temps, j'ai acquis des compétences dans différents <br>domaines de la programmation.
            Voici quelques technologies <br>que j'utilise régulièrement.</p>
          <div class="p6-images">
            <img src="/img/HTML-5-Badge-Logo-2.png" alt="HTML5 Logo">
            <img src="/img/css-3.png.png" alt="CSS3 Logo">
            <img src="/img/php-2.png" alt="PHP Logo">
            <img src="/img/png-transparent-javascript-logo-html-javascript-logo-angle-text-rectangle-thumbnail-2.png"
              alt="JavaScript Logo">
            <img src="/img/png-transparent-js-react-js-logo-react-react-native-logos-icon-thumbnail-2.png"
              alt="React Logo">
            <img src="/img/png-transparent-tailwind-css-hd-logo-2.png" alt="Tailwind CSS Logo">
          </div>
        </div>
      </nav>

      <nav class="expbox">
        <div class="experience">
          <h1 class="title7">Mes Expériences</h1>
          <div class="experience-details">
            <img class="ids" src="/img/bf5eee_c726e8f4efeb4c9899693d6e95dbcd14~mv2_d_1889_2097_s_2.png" alt="">
            <p class="p8">Stagiaire en tant que Développeur Fullstack</p>
            <img class="ids" src="/img/Logo-Acksys-343x247-1.jpg" alt="">
            <p class="p8">Alternant en tant que développeur</p>
          </div>
        </div>
      </nav>
    </nav>

    <br>
    <br>
    <br>
    <br>

    <div class="school-description">
      <h2>Le BTS SIO</h2>
      <div class="options">
      <div class="option">
      <h3><i class="fas fa-code"></i> Option SLAM</h3>
      <p>L'option SLAM (Solutions Logicielles et Applications Métiers) se concentre sur le développement et la
                      programmation d'applications informatiques, la gestion des bases de données et la création de solutions
                      logicielles sur mesure.</p>
      </div>
      <div class="option">
      <h3><i class="fas fa-network-wired"></i> Option SISR</h3>
      <p>L'option SISR (Solutions d'Infrastructure, Systèmes et Réseaux) est orientée vers l'administration des
                      réseaux, la gestion des systèmes informatiques et la mise en place des infrastructures techniques au
                      sein des entreprises.</p>
      </div>
      </div>
      </div>
    

<br>
<br>

      <section id="vieille">
        <div class="container">
          <h2>Ma veille technologique</h2>
          <div class="content">
            <div class="left">
              <img class="left" src="/img/veille.PNG" alt="Image 1">
            </div>
          </div>
        </div>
      </section>


    </div>
    <div class="contact-container">
      <h2>Contactez-moi</h2>
      <p>Email : <a href="mailto:ademben7877@gmail.com">ademben7877@gmail.com</a></p>
      <a href="/img/BEN ABDESSELEM Adem CV (2).pdf" class="btn" download>Télécharger mon CV</a>
      <a href="chemin/vers/votre_cv.pdf" class="btn" download>Voir ma synthèse</a>
  </div>



    </nav>























</body>

</html>